:host {
  display: grid;
  place-content: center;
  position: fixed;
  inset: 0;
  isolation: isolate;
}

.shield {
  background: rgba(black, 0.4);
  border: none;
  inset: 0;
  padding: 0;
  position: absolute;
  z-index: -1;
}

article {
  background: white;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  border-radius: 0.375em; 
  max-height: 50vh;
  max-width: 70vw;
  padding: 1em;
}

header {
  padding: 1.5em 3em 0.75em;
}

h2 {
  margin: 0;
}